@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


.form{
    width: 50%;
}

.main{
    display: flex;
    max-width: 100%;
    padding: 0 10px;
}

.division {
    height: 600px;
    margin-right: 5px;
  }

h1{
    color: antiquewhite;
}

.icon{
    color: antiquewhite;
    
}

.inp{
    border-radius: 3px;
    border: 1px solid rgb(37, 64, 151);
    display: block;
    width: 75%;
    height: 25px;
    margin-top: 10px;
}

.inp_select{
    border-radius: 3px;
    border: 1px solid rgb(37, 64, 151);
    display: block;
    width: 76%;
    height: 30px;
    margin-top: 10px;
}

.submit{
    border-radius: 3px;
    width: 76%;
    height: 30px;
    font-family: 'Lora', serif;
    margin-top: 10px;
    border: none;
    font-size: 15px;
    color:aliceblue;
    background-color: rgb(37, 64, 151);
}

.submit:hover{
    transition: 0.5s;
    font-family: 'Lora', serif;
    color: rgb(37, 64, 151);
    background-color: aliceblue;
    border:1px solid rgb(37, 64, 151);
}
.table{
    width: 100%;
}

.check {
    display: flex;
  }

.submit-finish {
    margin-left: 10px;
    border-radius: 3px;
    width: 76%;
    height: 30px;
    font-family: 'Lora', serif;
    margin-top: 10px;
    border: none;
    font-size: 15px;
    color:aliceblue;
    background-color: rgb(37, 64, 151);
}

.submit-finish:hover{
    transition: 0.5s;
    font-family: 'Lora', serif;
    color: rgb(37, 64, 151);
    background-color: aliceblue;
    border:1px solid rgb(37, 64, 151);
}

.compra {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 250px;
    border-radius: 5px;
  }

table {
    min-width: 80%;
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }

