td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .buttonDelete{
    border-radius: 3px;
    width: 76%;
    height: 30px;
    font-family: 'Lora', serif;
    margin-top: 10px ;
    border: 1px solid rgb(180, 40, 40);
    font-size: 15px;
    color:aliceblue;
    background-color: rgb(180, 40, 40);
  }
  
  .buttonDelete:hover{
    transition: 0.5s;
    width: 76%;
    height: 30px;
    margin-top: 10px;
    font-family: 'Lora', serif;
    color: rgb(180, 40, 40);
    background-color: aliceblue;
    border:1px solid rgb(180, 40, 40);
  }
  